/*
$breakpoint argument choices
- phone 
- tab-port
- tab-land
- big-desktop
Note: 1em = 16px;
for instance: 600px / 16em = 37.7em
*/

/* Widescreens/TV's (min-width: 1141px) */
@media only screen and (min-width: 1141px) {

    /* DESIGN FOR THE HOME PAGE*/
    #header {
        height: 100vh;
    }


    /* FEATURES */
    .features__container {
        width: 100%;
        padding: 8rem 0;
        /* padding-bottom: 5rem; */
    }

    .features {
        display: block;
        text-align: center;


    }

    .features__header {
        font-size: 3em;
        line-height: 3rem;
        padding: 0;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 5rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .features__card {
        border: 1px solid rgba(0, 0, 0, 0.151);
        box-shadow: 2px 2px 5px 2px rgba(211, 211, 211, 0.274);
        margin-top: 3rem;
        padding: .5rem;
        /* padding-bottom: 5.5rem; */
        position: relative;
        margin: 2rem;
    }

    .features__h2 {
        font-size: 1.4rem;
        padding: 1rem 0;
    }

    .features__h3 {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5rem;
        text-transform: none;
        padding-bottom: 2rem;
    }

   
    /* FOOTER */
    .footer {
        font-size: 1rem;
        grid-template-areas:
            ". l . s ."
            ". . c . .";
        padding-bottom: 1.5rem;
        padding-top: 3rem;
    }

    .footer__nav {
        grid-area: l;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
    }

    .footer__social {
        grid-area: s;
    }

    .footer__copyright {
        grid-area: c;
        padding-top: 2rem;
    }
}

/* Big tablet to 1140px (widths smaller then the 1140px row) */
@media only screen and (max-width: 1140px) {
    /* DESIGN FOR THE HOME PAGE*/

    /* FEATURES */
    .features__container {
        padding-top: 5rem;
        padding: 8rem 0;
    }

    .features {
        display: block;
        font-family: sans-serif;
        text-align: center;
      
    }

    .features__header {
        font-size: 3.8rem;
        line-height: 3rem;
        padding: 2.5rem 0;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .features__card {
        border: 1px solid rgba(0, 128, 0, 0.151);
        box-shadow: 2px 2px 5px 2px rgba(211, 211, 211, 0.589);
        margin-top: 3rem;
        padding: .5rem;
        padding-bottom: 3.5rem;
        position: relative;
    }

    .features__h2 {
        font-size: 0.95rem;
        padding: 0.5rem 0;
        padding-top: 1rem;
    }

    .features__h3 {
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.4rem;
        text-transform: none;
        padding-bottom: 2rem;
    }

    
    /* FOOTER */
    .footer {
        font-size: 1rem;
        grid-template-areas:
            ". l . s ."
            ". c c c .";
        padding-bottom: 1.5rem;
        padding-top: 3rem;
    }

    .footer__nav {
        grid-area: l;
        justify-content: space-between;
    }

    .footer__social {
        justify-content: space-around;
        grid-area: s;
    }

    .footer__copyright {
        grid-area: c;
        padding-top: 2rem;
        text-align: center;
    }
}

/* Small tablet to big tablet: from 671px to 1023px 
@media only screen and (max-width: 1023px) {
    }
/* Small phones to small tablets: from 481px to 670px */
@media only screen and (max-width: 780px) {

    /* DESIGN FOR THE HOME PAGE*/
    /* HEADER*/

    .hero_box {
        position: relative;
        flex-direction: column;
        left: 10px;
        top: 150px;
        width: 100%;
        text-align: center;
    }

    .hero_box .hero_h1 {
        font-size: 35px;
        margin-bottom: 40px;
        color: #fff;
        text-align: center;
    }

    .hero_box p {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 40px;
        color: #fff;
    }

    .hero_box a {
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        /* background: green; */
        padding: 12px;
        margin-top: 30px;
        border-radius: 10px;
        color: #fff;
    }

    /* FEATURES */
    .features {
        display: block;
        padding-top: 5rem;
        text-align: center;
    }

    .features__header {
        font-size: 3rem;
        line-height: 3rem;
        padding: 2rem 0;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 3rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .features__card {
        margin-bottom: 0rem;
        max-width: 350px;
    }

    .features__h2 {
        font-size: 1.9rem;
        padding: 1.5rem;
    }

    .features__h3 {
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 40px;
        padding-bottom: 3rem;
        text-transform: none;
    }

 
 

    /* FOOTER */
    .footer {
        font-size: 1.2rem;
        grid-template-areas:
            ". l l l ."
            ". s s s ."
            ". c c c .";
        padding-bottom: 1.5rem;
        padding-top: 0;
    }

    .footer__nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        grid-area: l;
        grid-template-columns: 1fr;
        height: 10rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .footer__list {
        align-items: space-between;
        justify-content: space-between;
        margin-top: 1.5rem
    }

    .footer__social {
        grid-area: s;
        margin-top: 4rem;
        justify-content: center;
    }

    .footer__copyright {
        grid-area: c;
        padding-top: 2rem;
        text-align: center;
    }
}

/* Small phones: from 0 to 480px //*/
@media only screen and (max-width: 500px) {

    /* DESIGN FOR THE HOME PAGE*/
    /* Header*/
    #header {
        display: block;
        text-align: center;

    }

    .top_header {
        display: block;
        width: 100%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 3rem;
    }

    .logo {
        display: block;
        text-align: center;
        overflow: hidden;
        position: relative;
        padding-top: .3em;
    }

    .logo_image {
        width: 3em;
        margin: auto;
    }

    .logo p {
        margin: 0;
    }

    .nav {
        display: block;
    }

    .nav ul {
        display: block;
        text-decoration: none;
        list-style: none;
        text-align: center;
    }

    .nav ul li {
        text-decoration: none;
        display: block;
        padding: .3em;
        cursor: pointer;
    }

    .div_hamburger {
        text-align: center;
        margin: 30px auto;
    }

    .div_hamburgerBars {
        position: relative;
        left: 50%;
    }

    .span_hamburgerBar {
        margin: auto;
    }

    .hero_box {
        position: relative;
        flex-direction: column;
        left: 1px;
        top: 50px;
        width: 100%;
        text-align: center;
    }

    .hero_box .hero_h1 {
        font-size: 30px;
        padding: 12px;
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        line-height: 3rem;
    }

    .hero_box p {
        font-size: 20px;
        margin-bottom: 40px;
        color: #fff;
        line-height: 2.0rem;
    }

}
